.react-modal-sheet-container {
    background: #F4F4F4 !important;

    .sheet-content {
        padding: 0px 20px;
    }
}

.content-container {
    position: relative;
    
    .map-container {
        width: 100%;
        height: 75vh;
        transition: .1s;
    }
}